<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="t3-form-insert-elements-panel">



    <div class="t3-form-x-component-inner-wrapper">

        <div class="mb-5">

            <label for="exampleFormControlTextarea1" class="form-label">HTML message</label>

            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

        </div>
        <div class="">

            <label for="exampleFormControlTextarea2" class="form-label">Plain message</label>

            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>

        </div>


    </div>
</div>
</html>
